@tailwind base;
@tailwind components;
@tailwind utilities;

.banner1{
 display: flex;
justify-content: center;
}/* Property Card */
    .property-card {
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border: none;
    max-width: 424px;
    }
    /* Property Card */
    .property-card{
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    border:none;
    }

    /* Purpose + Type Buttons */
    .purpose-btn{
    border:1px solid #dcdcdc;
    background:#fff;
    padding:7px 18px;
    font-size:14px;
    border-radius:20px;
    transition:all .2s ease;
    white-space:nowrap;
    }

    .purpose-btn:hover{
    border-color:#0078db;
    color:#0078db;
    }

    .purpose-btn.active{
    background:#0078db;
    color:#fff;
    border-color:#0078db;
    }

    /* Category Radio */
    .category-radio-group{
    display:flex;
    gap:30px;
    margin-bottom:10px;
    }

    .category-radio{
    accent-color:#0078db;
    cursor:pointer;
    }

    .form-check-label{
    font-size:14px;
    cursor:pointer;
    margin-left:4px;
    }

    /* Start Button */
    .start-btn{
    background:#0078db;
    color:white;
    font-weight:600;
    padding:11px;
    border-radius:6px;
    border:none;
    transition:0.2s;
    }
  .types-wrapper{
display:flex;
flex-wrap:wrap;
gap:10px;
}

/* Type Buttons Flexible */
.type-btn{
display:inline-flex;
align-items:center;
justify-content:center;
white-space:nowrap;
padding:7px 16px;
}
    .start-btn:hover{
    background:#0066c2;
    }
    /* Profile Menu */

.profile-menu{
position:relative;
}

.profile-icon-btn{
width:30px;
height:30px;
border-radius:50%;
border:none;
background:#fff;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
}

.profile-icon-btn svg{
color:#005ca8;
}

.profile-dropdown{
position:absolute;
right:0;
top:48px;
width:170px;
background:#fff;
border-radius:8px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
display:none;
overflow:hidden;
}

.profile-menu:hover .profile-dropdown{
display:block;
}

.dropdown-user{
padding:12px;
font-weight:600;
border-bottom:1px solid #eee;
}

.dropdown-item{
display:block;
padding:10px 12px;
text-decoration:none;
color:#333;
width:100%;
background:none;
border:none;
text-align:left;
cursor:pointer;
}

.dropdown-item:hover{
background:#f5f5f5;
}